@import 'src/theme';

.profile-filter-page-desktop {
    padding: 20px 0;
    .list-options {
        display: flex;
        flex-direction: row;

        width: 60px;
        height: 30px;
        line-height: 30px;

        background-color: $color_background;
        border-radius: 3px;

        .item {
            display: inline-block;
            width: 30px;
            height: 30px;
            vertical-align: top;
            text-align: center;
            font-size: 15px;
            color: $color_white;
            cursor: pointer;

            &.active {
                color: $color_yellow_FFC107;
            }
            > svg {
                margin-bottom: 5px;
            }
        }
    }
}
