@import 'src/theme';

.header-menu-desktop {
    display: flex;
    padding: 0 5px;

    .menu-item {
        display: inline-block;
        .link {
            text-transform: uppercase;
            padding: 0 15px;
            font-size: 15px;
            font-weight: $font_bold;
            color: $color_white;
            line-height: 50px;
            opacity: 0.5;
            position: relative;
            &:hover {
                opacity: 1;
            }
            &.active {
                color: $color_white;
                opacity: 1;
            }
            &.active::before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: -13px;
                margin: auto;
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #01bcf3;
            }
        }
    }
}
