@import 'src/theme';

.homepage-mobile {
    padding: 20px 0;
    .left-sidebar {
        margin-top: 40px;
        padding: 20px 0;
    }
    .main-homepage-content {
        margin-top: 20px;
    }
}
