@import 'src/theme';

.header-social-list-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    .social-icon {
        font-size: 20px;
        color: $color_white;
    }
    .social {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 20px;
        position: relative;
        background: linear-gradient(to bottom, rgba(0, 130, 188, 1) 0%, rgba(30, 91, 156, 1) 100%);
        &:after {
            border-radius: 20px 20px 0 0;
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            height: 20px;
            background-color: $color_white;
            opacity: 0.1;
        }
        &:hover {
            opacity: 0.8;
        }
    }
}
