@import 'src/theme';

.profile-horizontal-list-desktop {
    background-color: $color_white;
    border-radius: 3px;
    box-shadow: 0 0 30px 0 $color_transparent_10;
    padding: 15px 20px 20px;
    margin-bottom: 20px;

    .top {
        .title {
            font-size: 20px;
            font-weight: $font_bold;
            line-height: 30px;
            letter-spacing: -1px;
            color: $color_text_2;
        }
        margin-bottom: 10px;
    }
    .profile-horizontal-list-wrapper {
        margin-bottom: 20px;
        .profile-horizontal-list {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -10px;
            > li {
                flex-basis: 25%;
            }
        }
    }
    .more {
        display: flex;
        justify-content: flex-end;
        .more-btn {
            background-color: $color_primary_transparent_10;
            color: $color_primary;
            line-height: 30px;
            padding: 0 40px;
            border-radius: 30px;
            font-weight: $font_regular;
            height: 30px;
            &:hover {
                background-color: $color_primary;
                color: $color_white;
            }
        }
    }
}
@media only screen and (max-width: $breakpoint_md) {
    .profile-horizontal-list-desktop {
        .profile-horizontal-list-wrapper {
            .profile-horizontal-list {
                > li {
                    flex-basis: 100%;
                }
            }
        }
    }
}
